body{
	margin:0px;
}

#form1{
	height:100px;
	font-size:20pt;
	margin:auto;
	background-color: lightgray;
	border:5px lightgray ridge;
	text-align: center;
	padding:20px;
}

#start, #clear{
	font-weight:bold;
	width:90px;
	height:40px;
	font-size:13pt;
}

#ball{
	display:none;
	width:50px;
	height:50px;
	background-color:red;
	border-radius: 50%;
	position:absolute;
}

#bingGo{
	width:100px;
	height:100px;
	display:none;
	position:absolute;
}

#result{
	font-size: 25pt;
	color:red;
	position:absolute;
	display:none;
}

#img{
	position:absolute;
	display:none;
}

#time{
	font-size:30pt;
	font-weight:bold;
	color:gray;
	display:inline-block;
	position:absolute;
	top:40px;
	left:100px;
}
#score{
	font-size:30pt;
	font-weight:bold;
	color:gray;
	display:inline-block;
	position:absolute;
	top:40px;
	right:200px;
}

#score2{
	display:inline-block;
	position:absolute;
	top:9px;
	padding-left:10px;
}			